// SPDX-License-Identifier: BSD-3-Clause
#include <skeleton32.dtsi>
#include <lk2nd.dtsi>

&lk2nd {
	samsung-serrano {
		model = "Samsung Galaxy S4 Mini (GT-I9195)";
		compatible = "samsung,serranolte", "samsung,serrano";
		lk2nd,match-bootloader = "I9195*";

		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 50 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 81 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 35 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
	samsung-loganre {
		model = "Samsung Galaxy Ace 3 LTE (GT-S7275R)";
		compatible = "samsung,loganrelte", "samsung,loganre";
		lk2nd,match-cmdline = "*samsung.hardware=GT-S7275R*";

		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 50 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 81 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 35 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
	samsung-expressatt {
		model = "Samsung Galaxy Express SGH-I437";
		compatible = "samsung,expressatt", "qcom,msm8960";
		lk2nd,match-bootloader = "I437*";
		lk2nd,dtb-files = "msm8960-samsung-expressatt";

		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 50 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 81 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 40 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
	samsung-expressltexx {
		model = "Samsung Galaxy Express (GT-I8730)";
		compatible = "samsung,expressltexx", "qcom,msm8960";
		lk2nd,match-bootloader = "I8730*";
		lk2nd,dtb-files = "msm8930-samsung-expressltexx";

		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 50 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 81 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 35 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
	samsung-espresso10att {
		model = "Samsung Galaxy Tab 2 10.1 (SGH-I497)";
		compatible = "samsung,espresso10att", "qcom,msm8960";
		lk2nd,match-bootloader = "I497*";
		lk2nd,dtb-files = "msm8960-samsung-espresso10att";

		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 50 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 81 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 40 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
	casio-ca201l {
		model = "Casio GzOne (CA-201L)";
		compatible = "casio,ca201l";
		lk2nd,match-cmdline = "* androidboot.err_folder_lock=true *";
		lk2nd,dtb-files = "msm8960-casio-ca201l";
		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&pmic 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&pmic 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&pmic 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
	sony-huashan {
		/*
		 * The display currently not implemented yet due to lk2nd requiring MDP5, which is not available on
		 * the msm8960t SoC. The display is also not initialized from the bootloader, which further prevents
		 * lk2nd from working. So, please build lk2nd-msm8960 with ENABLE_DISPLAY=0.
		 *
		 * make ENABLE_DISPLAY=0 TOOLCHAIN_PREFIX=arm-none-eabi- lk2nd-msm8960
		 *
		 * The UART output for this phone is located on gsbi8. If you have a non-LTE variant, patch
		 * target_uart_init to use gsbi8 instead of gsbi5.
		 *
		 * To load the RPM at init, you must package lk2nd as a Sony ELF instead of the usual boot.img format.
		 * Use the following command to generate it:
		 *
		 * python2 mkelf.py -o lk2nd-sony.elf lk.bin@0x80208000 RPM.bin@0x00020000,rpm cmdline_lk2nd.txt@cmdline
		 *
		 * The mkelf.py and RPM.bin are available from the GitHub repository below:
		 * https://github.com/LineageOS/android_device_sony_huashan/blob/lineage-18.1/boot
		 *
		 * For the cmdline_lk2nd.txt, just fill it with "lk2nd".
		 */
		model = "Sony Xperia SP (huashan)";
		compatible = "sony,huashan", "qcom,msm8960";
		lk2nd,dtb-files = "msm8960-sony-huashan";
		lk2nd,match-bootloader = "s1";
	};
};
