// SPDX-License-Identifier: BSD-3-Clause
#include <skeleton32.dtsi>
#include <lk2nd.dtsi>

&lk2nd {
	samsung-serrano {
		model = "Samsung Galaxy S4 Mini (GT-I9195)";
		compatible = "samsung,serranolte", "samsung,serrano";
		lk2nd,match-bootloader = "I9195*";

		gpio-keys {
			compatible = "gpio-keys";

			volume-up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 50 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			volume-down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 81 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 35 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
};
