/memreserve/ deadbeef00000000-deadbeef000fffff;
/memreserve/ abcd1234 00001234;

/ {
	prop-int = <deadbeef>;
	prop-str = "hello world";

	subnode@1 {
		prop-int = <deadbeef>;

		subsubnode {
			prop-int = <deadbeef>;
		};
	};

	subnode@2 {
		prop-int = <abcd1234>;

		subsubnode@0 {
			prop-int = <abcd1234>;
		};
	};
};
