// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

/include/ "msm8916.dtsi"
/include/ "motorola-carrier-channel-ids.dtsi"

/ {
	qcom,msm-id = <206 0>;
	qcom,board-id = <0x4a 0x82b0>;

	model = "Motorola Moto G 2015 (osprey)";
	compatible = "motorola,osprey", "qcom,msm8916", "lk2nd,device";

	lk2nd,uart = <1>;
	lk2nd,motorola-unitinfo = <1>;
};
