// SPDX-License-Identifier: BSD-3-Clause

#include <skeleton64.dtsi>
#include <lk2nd.dtsi>

/ {
	qcom,msm-id = <QCOM_ID_MSM8952 0>;
	qcom,board-id = <QCOM_BOARD_ID_MTP 0>;
};

&lk2nd {
	idol4 {
		model = "Alcatel Idol 4";
		compatible = "alcatel,idol4";
		lk2nd,match-panel;

		lk2nd,dtb-files = "msm8952-alcatel-idol4";

		panel {
			compatible = "alcatel,idol4-panel", "lk2nd,panel";

			qcom,mdss_dsi_nt35596_1080p_video {
				compatible = "alcatel,idol4-nt35596";
			};
		};
	};
};
