// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

/*
 * In HBOOT `fastboot boot lk2nd.img` won't boot the image, instead it'll boot
 * whatever is currently flashed to boot partition.
 */

#include <skeleton.dtsi>
#include <lk2nd.h>

/ {
	model = "HTC Desire 820 Dual SIM";
	compatible = "htc,a51dtul", "qcom,msm8939", "lk2nd,device";
	qcom,msm-id = <342 0x10000>, <343 0x10000>, <344 0x10000>, <345 0x10000>;
	qcom,board-id = <0x80 0>;

	lk2nd,keys =
		<KEY_VOLUMEUP	107 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
		<KEY_VOLUMEDOWN	108 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};
