// SPDX-License-Identifier: GPL-2.0-only

#include <skeleton64.dtsi>
#include <lk2nd.dtsi>

#define I2C_GPIO_FLAGS	(GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN | GPIO_BIAS_DISABLE)

/ {
	/* TODO: Add more */
	qcom,msm-id = <QCOM_ID_MSM8916 0>;
	qcom,board-id = <0xCE08FF01 1>, <0xCE08FF01 3>, <0xCE08FF01 7>;
};

&lk2nd {
	a3lte {
		model = "Samsung Galaxy A3 (SM-A300F)";
		compatible = "samsung,a3lte", "samsung,a3";
		lk2nd,match-bootloader = "A300F*";

		qcom,msm-id = <QCOM_ID_MSM8916 0>;
		qcom,board-id = <0xCE08FF01 1>;

		gpio-keys {
			compatible = "gpio-keys";
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 109 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};

	gt58lte {
		model = "Samsung Galaxy Tab A 8.0 (LTE, SM-T355)";
		compatible = "samsung,gt58lte", "samsung,gt58";
		lk2nd,match-bootloader = "T355*";

		lk2nd,dtb-files = "msm8916-samsung-gt58";

		qcom,msm-id = <QCOM_ID_MSM8916 0>;
		qcom,board-id = <0xCE08FF01 1>;

		gpio-keys {
			compatible = "gpio-keys";
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 109 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};

	gt510lte {
		model = "Samsung Galaxy Tab A 9.7 (LTE, SM-T555)";
		compatible = "samsung,gt510lte", "samsung,gt510";
		lk2nd,match-bootloader = "T555*";

		lk2nd,dtb-files = "msm8916-samsung-gt510";

		qcom,msm-id = <QCOM_ID_MSM8916 0>;
		qcom,board-id = <0xCE08FF01 7>;

		gpio-keys {
			compatible = "gpio-keys";
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 109 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};

	serranovelte {
		model = "Samsung Galaxy S4 Mini Value Edition";
		compatible = "samsung,serranovelte", "samsung,serranove";
		lk2nd,match-bootloader = "I9195I*";

		qcom,msm-id = <QCOM_ID_MSM8916 0>;
		qcom,board-id = <0xCE08FF01 3>;

		muic-reset {
			compatible = "samsung,muic-reset";
			i2c-reg = <0x14>;
			i2c-sda-gpios = <&tlmm 105 I2C_GPIO_FLAGS>;
			i2c-scl-gpios = <&tlmm 106 I2C_GPIO_FLAGS>;
		};

		gpio-keys {
			compatible = "gpio-keys";
			home {
				lk2nd,code = <KEY_HOME>;
				gpios = <&tlmm 109 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
};
