// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <skeleton64.dtsi>
#include <lk2nd.dtsi>

/ {
	qcom,msm-id = <0x125 0x00>;
	qcom,board-id = <0x09 0x00>;
};

&lk2nd {
	model = "Meizu M15";
	compatible = "meizu,m1871";

	lk2nd,dtb-files = "msm8953-meizu-m1871";

	panel {
		compatible = "meizu,m1871-panel", "lk2nd,panel";

		qcom,mdss_dsi_truly_1080p_video_cmd {
			compatible = "meizu,m1871-truly";
		};

		qcom,mdss_dsi_truly_1080p_video {
			compatible = "meizu,m1871-truly";
		};

		qcom,mdss_dsi_adv7533_1080p {
			compatible = "meizu,m1871-adv7533";
		};

		qcom,mdss_dsi_r69006_1080p_video {
			compatible = "meizu,m1871-r69006";
		};

		qcom,mdss_dsi_r69006_1080p_cmd {
			compatible = "meizu,m1871-r69006";
		};

		qcom,mdss_dsi_sharp_1080p_video {
			compatible = "meizu,m1871-sharp";
		};

		qcom,mdss_dsi_djn_1080p_video {
			compatible = "meizu,m1871-djn";
		};
	};
};

