// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <skeleton.dtsi>

/ {
	qcom,msm-id = <268 0>;
	qcom,board-id = <0x1000b 17>;
	
	model = "Lenovo Vibe K5 (Wingtech WT82918)";
	compatible = "wingtech,wt82918", "qcom,msm8929", "lk2nd,device";
		
	panel {
		compatible = "wingtech,wt82918-panel";

		qcom,mdss_dsi_hx8394f_boe_720p_video {
			compatible = "wingtech,boe-hx8394f";
		};
		qcom,mdss_dsi_ili9881c_otm_720p_video {
			compatible = "wingtech,otm-ili9881c";
		};
	};
};
