// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <skeleton.dtsi>

/ {
	compatible = "qcom,msm8939-mtp", "qcom,msm8939";
	qcom,msm-id = <239 0>;
	qcom,board-id = <8 0>;

	alcatel-idol3 {
		model = "Alcatel OneTouch Idol 3 (5.5)";
		compatible = "alcatel,idol3", "qcom,msm8939", "lk2nd,device";
		lk2nd,match-panel;

		panel {
			compatible = "alcatel,idol3-panel";

			qcom,mdss_dsi_nt35596_1080p_video {
				compatible = "alcatel,idol3-panel-nt35596";
			};
			qcom,mdss_dsi_nt35596_1080p_video_v03 {
				compatible = "alcatel,idol3-panel-nt35596-v03";
			};
			qcom,mdss_dsi_r63315_1080p_video {
				compatible = "alcatel,idol3-panel-r63315";
			};
		};
	};

	xiaomi-ferrari {
		model = "Xiaomi Mi 4i";
		compatible = "xiaomi,ferrari", "qcom,msm8939", "lk2nd,device";
		lk2nd,match-panel;

		panel {
			qcom,mdss_dsi_sharp_rsp61322_1080p_video {
				compatible = "xiaomi,sharp-rsp61322";
			};

			qcom,mdss_dsi_jdi_nt35595_1080p_video {
				compatible = "xiaomi,jdi-nt35595";
			};
		};
	};
};
