/dts-v1/;

#include <skeleton.dtsi>

/ {
	qcom,msm-id = <206 0>;
	qcom,board-id = <8 0>;
	model = "Coolpad Y80D";
	compatible = "coolpad,coolpady80d", "qcom,msm8916", "lk2nd,device";
//	yulong,pcb-id = <0x0a>;
//	yulong,project-id = "Y80D";

	lk2nd,match-panel;

	panel {
		compatible = "coolpad,coolpady80d-panel";

		qcom,mdss_dsi_otm9605a_lide_qhd_video_550 {
			compatible = "coolpad,otm9605-lide";
		};
	};
};
