// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

/include/ "skeleton.dtsi"

/ {
	compatible = "qcom,msm8916-mtp", "qcom,msm8916";
	qcom,msm-id = <206 0>;
	qcom,board-id = <8 1>;

	alcatel-idol347 {
		model = "Alcatel OneTouch Idol 3 (4.7)";
		compatible = "alcatel,idol347", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-cmdline= "* mdss_mdp.panel=1:dsi:0:qcom,mdss_dsi_hx8394d_auo_720p_video:1:none";
	};
};
