// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <skeleton.dtsi>

/ {
	compatible = "qcom,msm8916-mtp", "qcom,msm8916";

	// There are devices that identify themselves as qcom,msm8916-mtp,
	// even when they are really not (at least physically).
	// Therefore we need other things we can match on (e.g. the cmdline).

	marshall-london {
		model = "Marshall London";
		compatible = "marshall,london", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-cmdline = "* hw.id=500";
	};

	alto5-vdf {
		model = "Vodafone Smart prime 6";
		compatible = "alcatel,alto5-vdf", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-panel;

		panel {
			compatible = "alcatel,alto5-vdf-panel";

			qcom,mdss_dsi_hx8394a_hd_tdt_video {
				compatible = "alcatel,hx8394a-tdt";
			};
			qcom,mdss_dsi_hx8394a_hd_truly_video {
				compatible = "alcatel,hx8394a-truly";
			};
		};
	};

	asus-z010d {
		model = "Asus Zenfone Max ZC550KL";
		compatible = "asus,z010d", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-cmdline = "* mdss_mdp.panel=1:dsi:0:qcom,mdss_dsi_r69339_720p_video:1:none";
	};
};
