// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <skeleton.dtsi>
#include <lk2nd.h>

/ {
	// This is used by the bootloader to find the correct DTB
	qcom,msm-id = <206 0>;
	qcom,board-id = <0xCE08FF01 8>;

	a5lte {
		model = "Samsung Galaxy A5 (SM-A500F)";
		compatible = "samsung,a5lte", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-bootloader = "A500F*";
	};

	gt510lte {
		model = "Samsung Galaxy Tab A 9.7 LTE (2015) (SM-T555)";
		compatible = "samsung,gt510lte", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-bootloader = "T555*";

		lk2nd,keys = <KEY_HOME 109 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};
