// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <skeleton.dtsi>

/ {
	compatible = "qcom,msm8939-mtp", "qcom,msm8939";
	qcom,msm-id = <239 0>;
	qcom,board-id = <8 0>;

	alcatel-idol3 {
		model = "Alcatel OneTouch Idol 3 (5.5)";
		compatible = "alcatel,idol3", "qcom,msm8939", "lk2nd,device";
		lk2nd,match-cmdline = "* mdss_mdp.panel=1:dsi:0:qcom,mdss_dsi_r63315_1080p_video:1:none";
	};

	xiaomi-ferrari {
		/* Included becuase log said qcom,msm-id entry not found and this made it recognize the device tree correctly */
		qcom,msm-id = <239 0>;
		qcom,board-id = <8 0>;
		
		model = "Xiaomi Mi 4i";
		compatible = "xiaomi,ferrari", "qcom,msm8939", "lk2nd,device";

		panel {

			qcom,mdss_dsi_sharp_rsp61322_1080p_video {
				compatible = "sharp,rsp61322";
			};

			qcom,mdss_dsi_jdi_nt35595_1080p_video {
				compatible = "jdi,nt35595";
			};
		};
	};
};
