// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

/include/ "skeleton.dtsi"

/ {
	// This is used by the bootloader to find the correct DTB
	qcom,msm-id = <206 0>;
	qcom,board-id = <100 0>;

	m216 {
		model = "LG K10 (K420n)";
		compatible = "lg,m216", "qcom,msm8916", "lk2nd,device";
		lk2nd,match-cmdline = "* model.name=LG-K420n *";
	};
};
