// SPDX-License-Identifier: BSD-3-Clause

#include <skeleton64.dtsi>
#include <lk2nd.dtsi>

/ {
	qcom,msm-id = <0x9E08FF01 7 0x20000>;
};

&lk2nd {
	/* rev 7 */

	ms013g {
		model = "Samsung Galaxy Grand 2";
		compatible = "samsung,ms013g";

		//FIXME: lk2nd,dtb-files = "apq8026-samsung-ms013g";

		gpio-keys {
			compatible = "gpio-keys";
			down {
				lk2nd,code = <KEY_VOLUMEDOWN>;
				gpios = <&tlmm 107 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
			up {
				lk2nd,code = <KEY_VOLUMEUP>;
				gpios = <&tlmm 106 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			};
		};
	};
};

